html, body {
    margin:0px;
    height: 100%; 
}

h1, h2 {
    color: white;

}

#left-game-space {
    float: left;
    width: 25%;
    background: rgb(31, 31, 31);
}

#map-box {
    float: center;
    width: 80%;
    background: #333;
    margin-top: auto;
    height: 25%;
    z-index: 10;
    
}

#middle-game-space {
    float: left;
    width: 50%;
    background: #333;
}

#right-game-space {
    float: right;
    width: 25%;
    background: rgb(71, 71, 71);
}


.box {
    height: 100vh;
}