html, body {
    margin:0px;
    height: 100%; 
}

h1 {
    color: white;

}

#left-game-space {
    float: left;
    width: 25%;
    background: rgb(71, 71, 71);
}

#right-game-space {
    float: right;
    width: 25%;
    background: rgb(31, 31, 31);
}


.box {
    background: #333;
    height: 100vh;
}